.window-manifest-navigation > .mirador-select-jump {
  Font-size: .8em; 	
  Margin-right: 15px;
  Border: 1px #CCCCCC solid;
  Border-radius: 3px;
}

.window-manifest-navigation > .mirador-select-jump-label {
  Font-size: .8em;
  Font-weight: normal;
  Margin-right: 5px;
}
