uwsgi==2.0.23
cffi
configobj
cryptography==42.0.4
click
Django==1.11.29
ecdsa
elasticsearch
lxml
paramiko
pycrypto
python-dotenv
requests==2.31.0
simplejson
urllib3
netaddr
hashids
certifi
pymongo==3.13.0

