{% load staticfiles %}

<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <script src="{% static 'manifests/dev/mirador3.min.js' %}"></script>

  <title>Harvard Mirador Viewer</title>
</head>
<body>
  <canvas id="buffer" style="display:none" ></canvas>
  <div id="viewer"></div>

  {% verbatim %}
  {% endverbatim %}
  <script type="text/javascript">
   window.harvard_md_server = {
     PDS_VIEW_URL: "{{ pds_view_url }}",
     IDS_VIEW_URL: "{{ ids_view_url }}",
     FTS_VIEW_URL: "{{ fts_view_url }}",
     MIRADOR_DATA: [
       {% autoescape off %}
       {{ manifests_data|join:"," }}
       {% endautoescape %}
     ],
     MIRADOR_WOBJECTS: [
       {% autoescape off %}
       {{ manifests_wobjects|join:"," }}
       {% endautoescape %}
     ],
     PATH_DATA:
     {% autoescape off %}
     {{ path_data }}
     {% endautoescape %},
     LAYOUT: "{{ layout_string }}"
   };
  </script>
  <script type="text/javascript" src="{% static 'manifests/dev.js' %}"></script>
</body>
</html>
