{% load staticfiles %}

<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" type="text/css" href="{% static 'manifests/prod/css/mirador-combined.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'manifests/prod.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'jqwidgets/styles/jqx.base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'slicknav.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'share/shareButtons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'download/downloadMenu.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'canvas/canvasLink.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'jump-to-page/jump_to_page.css' %}">
  <link rel="icon" type="image/x-icon" href="https://library.harvard.edu/sites/default/files/favicon_0.ico"/>
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'saveimage/jquery-ui-smootheness.css' %}"> -->
  <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" >
  <script src="{% static 'manifests/prod/mirador.js' %}"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>
  <script src="{% static 'jump-to-page/jump_to_page.js' %}"></script>
  <script src="{% static 'base64.min.js' %}"></script>
  <!-- jqwidgets for search and related links -->
  <script src="{% static 'jqwidgets/jqxcore.js' %}"></script>
  <script src="{% static 'jqwidgets/jqxdata.js' %}"></script>
  <script src="{% static 'jqwidgets/jqxbuttons.js' %}"></script>
  <script src="{% static 'jqwidgets/jqxscrollbar.js' %}"></script>
  <script src="{% static 'jqwidgets/jqxmenu.js' %}"></script>
  <script src="{% static 'jqwidgets/jqxgrid.js' %}"></script>
  <script src="{% static 'jqwidgets/jqxgrid.selection.js' %}"></script>
  <script src="{% static 'jqwidgets/jqxexpander.js' %}"></script>
  <script src="{% static 'jqwidgets/jqxlistbox.js' %}"></script>
  <script src="{% static 'jquery.slicknav.min.js' %}"></script>
  <script src="{% static 'xml-to-json/jquery.xml2json.js' %}"></script>

  <script src="{% static 'saveimage/jquery.ui-contextmenu.min.js' %}"></script>
  <script src="{% static 'saveimage/FileSaver.min.js' %}"></script>
  <script src="{% static 'saveimage/Blob.js' %}"></script>
  <script src="{% static 'saveimage/canvas-toBlob.js' %}"></script>

  <script src="{% static 'swag.min.js' %}"></script>
  <script>Swag.registerHelpers(window.Handlebars);</script>

  <title>Harvard Mirador Viewer</title>
</head>
<body>
  <canvas id="buffer" style="display:none" ></canvas>
  <div id="viewer"></div>

  {% verbatim %}
  <script id="error-tmpl" type="text/x-handlebars-template">
  <div class="dialog" title="error">
     <p>{{ text }}</p>
  </div>
  </script>

  <script id="citation-tmpl" type="text/x-handlebars-template">
    <div class="dialog" title="citation">
     <p>Please note that a complete citation may require additional information
      (document date, author name, range of pages/sequence numbers, etc.)</p>
      <header>
        <h3>Resource</h3>
      </header>
      <ul>
        <li><span class="label plink">Persistent Link</span> {{#isLink resource.urn}}<a href="{{{resource.urn}}}">{{/isLink}}{{resource.urn}}{{#isLink resource.urn}}</a>{{/isLink}}</li>
        <li><span class="label desc">Description</span> {{{resource.description}}}</li>
        <li><span class="label repo">Repository</span> {{{resource.repository}}}</li>
        <li><span class="label inst">Institution</span> {{{resource.institution}}}</li>
        <li><span class="label access">Accessed</span> {{{resource.accessed}}}</li>
      </ul>

      <header>
        <h3>Page</h3>
      </header>
      <ul>
        <li><span class="label plink">Persistent Link</span> {{#isLink page.urn}}<a href="{{{page.urn}}}">{{/isLink}}{{page.urn}}{{#isLink page.urn}}</a>{{/isLink}}</li>
        <li><span class="label desc">Description</span> {{{page.description}}}</li>
        <li><span class="label page">Page</span> {{{page.pagelabel}}}</li>
        <li><span class="label repo">Repository</span> {{{page.repository}}}</li>
        <li><span class="label inst">Institution</span> {{{page.institution}}}</li>
        <li><span class="label access">Accessed</span> {{{page.accessed}}}</li>
      </ul>
    </div>
  </script>

  <script id="search-tmpl" type="text/x-handlebars-template">
    <div class="dialog" title="search">

        <input type="hidden" name="id" id="search_drs_id" value="{{ drs_id }}"/>
        <input type="hidden" name="current_slot_idx" id="current_slot_idx" value="{{ slot_idx }}"/>
        <div id="searchhelp">
           <b>Search Item:</b>
             <p/>
             <i>{{ label }}</i>
             <p/>
             For search tips, refer to <a href="http://nrs.harvard.edu/urn-3:hul.ois:hlviewerhelp">Viewer Help</a>.
            <p/>
            <!-- <b>Hints:</b> Use * as a wildcard. Examples: cat*, oper* and Harv* -->
        </div>
        <div id="orderResults"  style="margin: 30px auto 10px auto; text-align: center">
            <b>Order results:</b>
            <label for="searchOptDefault"> <input type="radio" style="margin-left: 5px;" name="searchOpt" value="R" id="searchOptDefault" checked />By relevance</label>
            <label for="searchOptAlpha"> <input type="radio" style="margin-left: 5px;" name="searchOpt" value="A" id="searchOptAlpha"/>Alphabetically</label>
            <label for="searchOptDate"> <input type="radio" style="margin-left: 5px;" name="searchOpt" value="D" id="searchOptDate"/>By Date</label>
        </div>
        <div id="loading" style="display:none; margin-left: auto; margin-right: auto; text-align: center">
            <i>Loading...</i>
        </div>
        <div style="text-align: center">
          <input class='jqx-input' name="searchbox" type="text" id="searchbox" placeholder="" style="padding: 3px; width: 500px;" />
        </div>
        <div id="hits"  style="display:none; margin-left: auto; margin-right: auto; text-align: center"></div>
        <div id="hitlist" style="display:none; margin-left: auto; margin-right: auto;"></div>
        <div id="nohits"  style="display:none; margin-left: auto; margin-right: auto; text-align: center">
            <b>No Search Results Found</b>
        </div>
        <div style="margin: 10px; text-align: center;">
            <input id="clearsearch" type="button" value="Clear" />
            <input id="searchbutton" type="button" value="Search" />
        </div>

  </script>

  <script id="choices-tmpl" type="text/x-handlebars-template">
    <div title="Choices" class="choices dialog {{ op }}">
      <header><h3>Displayed Manifests</h3></header>
      <ul>
        {{#each choices}}
        <li><a class="manifest" data-drs-id="{{ drs_id }}" data-n="{{ n }}" data-slot-idx="{{ slot_idx }}" href="#no-op">{{ label }}</a></li>
        {{/each}}
      </ul>
    </div>
  </script>

  <script id="print-tmpl" type="text/x-handlebars-template">
    <div title="Print"  class="print dialog {{ op }}" style="margin: 10px; padding: 5px;">
      <!--<h3>Print/Save PDF</h3>-->
       <div>
        <b>Print or save:</b> <i>{{ label }}</i>
        <p>Use this form to request one or more pages in PDF format for printing or saving. Requests for 10 pages or less will be delivered directly to your browser. For larger requests, enter your email below and we will send a link to the PDF when the conversion is complete. The link will be valid for 7 days.</p>

        <p>Tips on requesting a PDF:</p>

	• The PDF conversion rate is approx. 10 pages per minute. Large requests can take an hour or more to process.<br>
	• To request a range of pages, use page sequence numbers rather than printed page numbers. Sequence numbers appear in parentheses – e.g., (seq. 1); look for them in the left-hand table of contents or mouse over the page thumbnail at the bottom of the viewer.<br>

       </div>

       <div id="printmsg" style="text-align: center; margin: 12px;">&nbsp;</div>

       <div style="border: 1px #999 solid; background-color: #CCC; line-height: 200%; margin: 10px; padding: 20px;">
         <form name="printpds" id="printpds" onsubmit="event.preventDefault(); return false">
         <input type="hidden" name="print_slot_idx" id="print_slot_idx" value="{{ slot_idx }}"/>
         <input type="hidden" name="n" id="n" value="{{ n }}"/>
         <input type="hidden" name="id" id="drs_id" value="{{ drs_id }}"/>
         <input type="hidden" name="img_id" id="img_id" value="{{ img_id }}"/>
         <label for="printOptDefault"><input type="radio" name="printOpt" value="current" id="printOptDefault" checked />&nbsp;Convert the current page</label><br/>
         <label for="printOptSequence"><input type="radio" id="printOptSequence" name="printOpt" value="range"  />&nbsp;Convert a range: from seq.</label>
         <input type="text" id="start" name="start" size="6" onclick="javascript:document.printpds.printOpt[1].checked=true;" value="" /> to seq.
         <input type="text" id="end" name="end" size="6" onclick="javascript:document.printpds.printOpt[1].checked=true;" value=""/><br/>
         <label for="printOptEntire"><input type="radio" name="printOpt" id="printOptEntire" value="all"  />&nbsp;Convert entire document</label><br/>
         For requests of more than 10 pages, enter your email address so that we can send a link to the PDF when the conversion is complete: <input type="text" id="email" name="email" size="50" onclick="" value=""/><br />

          <div style="margin-right: 10px; margin-top: 5px;">
            <input type="button"  value="Cancel"    id="pdsclear" name="pdsclear" />
            <input type="submit"  value="Convert to PDF"   id="pdssubmit" name="pdssubmit"/>
          </div>
         </form>
       </div>
     </div>
  </script>

  <script id="viewtext-tmpl" type="text/x-handlebars-template">
     <div title="viewtext" class="viewtext dialog {{ op }}">
          <div>{{ text }}</div>
     </div>
  </script>

  <script id="links-tmpl" type="text/x-handlebars-template">
    <div title="links" class="links dialog {{ op }}">
     <!--<header><h3>Related Links</h3></header>-->
     <b>Links relating to:</b> {{ citation }}
     <p/>
     The following links provide more information about this resource. Links open in a new window.<p/>
      {{#if harvardMetadata }}
      <b>Harvard Metadata</b><p/>
        <ul>
	{{#each harvardMetadata }}
	  <li>{{{ displayLabel }}}: {{#isLink value }}<a class="manifest" href="{{{ value }}}" target="_blank">{{/isLink}} {{{value}}} {{#isLink value}}</a>{{/isLink}} </li>
 	{{/each}}
        </ul>
      {{/if}}
      </p><br>
      {{#if relatedLinks }}
      <b>Related Links</b><p/>
        <ul>
	{{#each relatedLinks }}
	  <li>{{#if displayLabel }} {{{ displayLabel }}}: {{/if}} {{#isLink value }}<a class="manifest" href="{{{ value }}}" target="_blank">{{/isLink}} {{{value}}} {{#isLink value}}</a>{{/isLink}} </li>
	{{/each}}
      {{/if}} 
      </ul>
    </div>
  </script>

  {% endverbatim %}
  <script type="text/javascript" src="{% static 'download/downloadMenu.js' %}"></script>
  <script type="text/javascript" src="{% static 'share/shareButtons.js' %}"></script>
  <script type="text/javascript" src="{% static 'canvas/canvasLink.js' %}"></script>
  <script type="text/javascript">
   window.harvard_md_server = {
     PDS_VIEW_URL: "{{ pds_view_url }}",
     IDS_VIEW_URL: "{{ ids_view_url }}",
     FTS_VIEW_URL: "{{ fts_view_url }}",
     MIRADOR_DATA: [
       {% autoescape off %}
       {{ manifests_data|join:"," }}
       {% endautoescape %}
     ],
     MIRADOR_WOBJECTS: [
       {% autoescape off %}
       {{ manifests_wobjects|join:"," }}
       {% endautoescape %}
     ],
     PATH_DATA:
     {% autoescape off %}
     {{ path_data }}
     {% endautoescape %},
     LAYOUT: "{{ layout_string }}"
   };
  </script>

  <script type="text/javascript" src="{% static 'jquery.history.js' %}"></script>
  <script type="text/javascript" src="{% static 'manifests/prod.js' %}"></script>

</body>
</html>
